.inputs{
    height: inherit !important;
    width: 100%;
}

.InputBoxWrapper .input-fields {
    height: 80% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 90%;
}

.submit-and-email{
    height: 15%;
    width: 100%;
}

.InputBoxWrapper .submit-and-email .btn_submit{
    height: 80%;
    width: 100%;
}
.alert-box{
    display: block;
    z-index: 1;
}

@media screen and (max-width: 640px) {
    .inputs{
        height: 100% !important;
    }

    .InputBoxWrapper .input-fields {
        height: 80% !important;
    }
    
    .InputBoxWrapper .submit-and-email{
        height: 20%;
        width: 100%;
    }

}

@media (max-width:330px){
    .inputs{
        width: 50%;
    }
}