.book{
    height: 90vh;
    width: 50vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background-color: white;
    top: 5vh;
    padding: 20px;
    border-radius: 2%;
}

.book.confirm{
    align-items: center;
}

.book .go-back-btn{
    background-color: rgb(226 113 62) !important;
    color: white !important;
    &:hover{
        font-weight: bold !important;
        background-color: rgb(196, 110, 70) !important;
    }
}

@media screen and (max-width:600px) {
    .book{
        width: 70vw;
        height: 70vh;
    }
}