/* Global styles for BookCancel component */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #book-cancel-container {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 33%;
  }
  
  @media screen and (max-width: 600px) {
    .book-cancel-container {
      padding: 1rem;
    }
  }

  @media screen and (max-width: 450px) {
    .css-1cpcxnm-MuiTypography-root{
      text-align: center;
    }
  }
  
  /* You can add any other global styles or overrides here */