.book{
    height: 95%;
    width: 50vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    top: 4%;
}

.book.confirm{
    align-items: center;
    max-width: fit-content;
    padding: 0 20px;
}

.book .go-back-btn{
    background-color: rgb(226 113 62) !important;
    color: white !important;
    &:hover{
        font-weight: bold !important;
        background-color: rgb(196, 110, 70) !important;
    }
}

@media screen and (max-width:600px) {
    .book{
        width: 70vw;
        height: 70vh;
    }

    .book .go-back-btn {
        height: 40px;
    }
}