.testimonials {
    height: 500px;
    padding: 10px 20px;
}

.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
  height: 100%;
  position: relative;
  bottom: 8%;
}

.react-multi-carousel-track {
  height: 100%;
}

.react-multi-carousel-item  {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.custom-dot-list-style button{
  border: none;
  background: rgb(68, 127, 255);
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button{
  background: rgb(124, 255, 68) !important;
}

.testimonial-title{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Playfair Display';
}

.testimonial-title .main-title{
  font-size: 3rem;
  font-weight: bold;
}

.testimonial-title .sub-title{
  font-size: 3rem;
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  .testimonial-title .main-title{
    font-size: 2rem;
    font-weight: bold;
  }
  
  .testimonial-title .sub-title{
    font-size: 2rem;
    text-transform: capitalize;
    width: 80%;
    margin-left: 10%;
  }
}