.slider-menu {
  overflow-x: auto;
  padding: 0;
  padding-bottom: 5px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  white-space: nowrap; /* Ensure items stay in a single line */
}

.scroll-container {
  display:flex;
  max-width: 100%;
  overflow: overlay;
}
.slider-menu::-webkit-scrollbar {
  display: none;
}

.slider-menu .react-horizontal-scrolling-menu--scroll-container {
  display: flex; /* Ensure flex display for horizontal alignment */
}

.react-horizontal-scrolling-menu--item {
  margin: 0 10px;
  flex: 0 0 auto; /* Prevent items from growing or shrinking */
}
.submenu {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.submenu.active {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  max-height: 80%;
  width: 96%;
}