/* App.module.css */
.slider-menu {
    display: flex;
    overflow-x: auto;
    padding: 10px;
  }
  
.menu-item {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  width: 80px;
}

.submenu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.submenu.active {
  display: flex;
}

.react-horizontal-scrolling-menu--item{
  border-radius: 1% !important;
}