
.service-box {
  max-width: 97%;
  padding: 1% 2%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: var(--box-shadow-book);
  margin-bottom: 1%;
  max-height: 45%;
}

.service-box + .artist-container-wrapper {
  margin-top: 1%;
  transition: max-height 2s ease;
}

  
.service-box .service-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
  margin-block-start: 0.1em
}

@media screen and (max-width: 425px) {
  .service-box{
    width: auto;
    height: auto;
    max-height: none;
  }
}

@media screen and (max-width: 325px) {
  .service-box{
    max-width: 99%;
    width: 98%;
  }
}