
.schedule .date-time-picker {
    height: 130px;

}

.schedule .mobile-date-time-picker{
    display: none;
}

.css-e784if-MuiTypography-root{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-weight: bold !important; 
    font-size: 1.25rem !important;
}

@media screen and (max-width:600px) {
    .schedule .desktop-date-time-picker{
        display: none;
    }

    .schedule .mobile-date-time-picker{
        display: block;
    }

    .schedule .date-time-picker .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
        width: 99%;
    }
}