.success-fail-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .message-paper {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 37%);
  }
  
  
  .icon-wrapper svg {
    font-size: 64px;
  }
  
  .success-icon {
    color: #4caf50;
  }
  
  .error-icon {
    color: #f44336;
  }
  
  .message-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
    text-align: center;
  }
  
  .message-body {
    font-size: 1rem;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .confirmation-code {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .fail-button-wrapper {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
  }

  .back-home-button{
    background-color: #8d8dc4;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
    font-size: medium;
    &:hover{
      background-color: #1976d2;
      color: white;
      font-weight: bold;
    }
  }

  .back-home-button{
    border: none;
  }

  
  @media (max-width: 600px) {
    .success-fail-container {
      padding: 16px;
    }
  
    .message-paper {
      margin-top: 32px;
    }
  
    .icon-wrapper svg {
      font-size: 48px;
    }
  
    .message-title {
      font-size: 1.2rem;
    }
  
    .message-body {
      font-size: 0.9rem;
    }
  
    .button-wrapper {
      flex-direction: column;
    }
  }