#arrow-btn{
    font-size: 2rem;
    border: none;
    &:hover{
        background-color: rgb(37, 118, 190);
    }
}

.react-horizontal-scrolling-menu--arrow-left{
    position: absolute;
    z-index: 1;
}

.react-horizontal-scrolling-menu--arrow-right{
    position: absolute;
    right: 1%;
    z-index: 1;
}