.main-service {
    border: 1px solid;
    display: inline-block;
    margin: 0 10px;
    width: 100px;
    height: 30px;
    text-align: center;
    user-select: none;
    cursor: pointer
}

.main-service.selected {
    border: 1px solid;
    background-color: coral
}