.success-display{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 78%)
}
.success-icon {
    display: flex;
    justify-content: center;
    height: 10%;
}

.success-booking{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    font-size: xxx-large;
}
.message-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
    text-align: center;
  }
  
  .message-body {
    font-size: 1rem;
    margin-bottom: 16px;
    text-align: center;
  }

  .see-you {
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 8px;
    text-align: center;
    text-transform: capitalize;
  }

 