@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.navElements {
  position: fixed;
  max-height: 100%;
  width: 100%;
  transition: all 0.5s linear;
  &:hover{
      background-color: black;
  }
}

.scroll {
  background-color: black;
}

.container {
  margin-top: 3vh;
  max-height: 60%;
}

.hamburger-icon {
  display: none;
}

.hamburger-wrapper {
  display: none;
}

.menu-items {
  display: flex;
  justify-content: center;
}

.menu-items ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;

}

.menu-items li {
  float: left;
  padding: 2px 1vw;
  border: 1px;
}


.menu-items ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: large;
  font-size: 18px;
  &:hover {
    color: peachpuff;
  }
}
.menu-items ul li a.active {
  color: peachpuff;
}

/* .menu-items ul .nav-items li.active{
  color: peachpuff;
} */


/* @media (max-width: 768px) {
  .menu-items ul li:not(:last-child) {
    margin-right: 30px;
  }
} */

@media screen and (max-width: 600px) {
  .navbar{
    max-height: 55px;
  }
 
  .hamburger-icon {
    position: absolute;
    display: block;
    top: 25%;
    right: 2%;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .menu-items {
    position: absolute; 
    right: 0;
    width: 0;
    height: calc(100vh - 55px); 
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .menu-items.active {
    top: 55px;
    width: 50%;
  }

  .menu-items ul {
    display: flex;
    flex-direction: column;
  }

  .menu-items ul li {
    border: 1px solid rgb(56, 54, 54);
    height: 2.5rem;
    padding: 0.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    vertical-align: middle;
  }

  .menu-items ul a:hover{
    box-shadow: #574c4c;
  } 
  
}