.back{
    height: 100%;
    width: 100%;
}

.back-card {
    position: relative;
    height: 100%;
    width: 100%;
}

.back-img {
    height: 100%;
    width: 100%;
}


.back-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%)
}

.back-btn-wrapper {
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 5px;
}
.back-btn-wrapper Button{
    color: white;
    border: 1px solid white;
}

.back-details{
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.back-title{
    position: relative;
    top: 0;
    height: 10%;
    font-size: .9em;
    padding-bottom: 5px;
}

.back-title h1{
    margin-block-start: 0;
    margin-block-end: 0;
}

.back-mini{
    position: relative;
    height: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.mini-title{
    width: 50%;
    padding-left: 2px;
    text-align: start;
}

.mini-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.icon-cost, .icon-time{
    width: 25%;
    color: #2fb2c4;
    font-size: 1.5rem;
}

.time-cost-icon {
    display: flex;
    justify-content: flex-end;
}

.time-cost{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2px;
}


@media screen and (max-width: 600px) {
    /* .back-title{
        position: relative;
        height: 10%;
    }

    .back-mini{
        position: relative;
    } */

    .time-cost-icon {
        display: none;
    }

    .icon-cost, .icon-time{
        width: 25%;
        color: #2fb2c4;
        font-size: 1rem;
    }


    .text-wrapper{
        display: block;
        width: 50%;
    }

    .mini-content {
        display: flex;
        justify-content: space-between;
        height: 32px;
    }

    .mini-content .mini-title{
        width: 50%;
    }

    .mini-content .time-cost {
        width: 50%;
    }
}