.services {
    min-height:60vh;
    background-color: black;
    align-items: center;
    height: auto;
    color:white;
    padding-bottom: 10px;
}

.service-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5% 5px 0 5px;
}

.our-services h1{
    margin-top: 0;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .services {
        height: auto;
        margin-bottom: 10px;
        background-color: black;
        color: white;
    }

    .service-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}